<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">        
        <title>Form creator</title>
        <style>
            /* Simple dashboard grid CSS */
            body {
                font-family: 'Russo One', sans-serif;
            }
            /* Assign grid instructions to our parent grid container */
            .grid-container {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 7% 1fr 7%;
            grid-template-areas:
                "header"
                "main"
                "footer";
            height: 100vh;
            }
            .header, .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            background-color: #008067;
            }

            /* Give every child element its grid name */
            .header {
            grid-area: header;
            background-color: #008067;
            }

            .main {
            grid-area: main;
            background-color: white;
            }

            .footer {
            grid-area: footer;
            background-color: #008067;
            }

            .form-list{
                margin: 7% 37%;
                width: 40%;

                padding: 1em;/*
                border: 1px solid #CCC;
                border-radius: 1em;*/
                background: white;
            }

            .form-element{
                width: 70%;
                height: 10%;
                display: flex;
                justify-content: space-between;
                padding: 1em;
                border: 1px solid #CCC;
                border-radius: 1em;
                background: #008067;
                
            }

            /* Button used to open the contact form - fixed at the bottom of the page */
            .open-button {
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: absolute;
                bottom: 7%;
                right: 1.2%;
            }
            .share-popup {
                margin-top: 0%;
                margin-left: 80%;
                width: 20%;
                padding: 1em;
                display: none;
                border: 1px solid #CCC;
                border-block-color: black;
                background: white;

            }

            *{padding:0;margin:0;}

            body{
                background-color:#CCC;
            }

            .label-container{
                position:fixed;
                bottom:48px;
                right:105px;
                display:table;
                visibility: hidden;
            }

            .label-text{
                color:#FFF;
                background:rgba(51,51,51,0.5);
                display:table-cell;
                vertical-align:middle;
                padding:10px;
                border-radius:3px;
            }

            .label-arrow{
                display:table-cell;
                vertical-align:middle;
                color:#333;
                opacity:0.5;
            }

            .float{
                position:fixed;
                width:60px;
                height:60px;
                bottom:40px;
                right:40px;
                background-color:#008067;
                color:#FFF;
                border-radius:50px;
                text-align:center;
                box-shadow: 2px 2px 3px #999;
                z-index:1000;
                animation: bot-to-top 2s ease-out;
            }

            ul{
                position:fixed;
                right:40px;
                padding-bottom:20px;
                bottom:80px;
                z-index:100;
            }

            ul li{
                list-style:none;
                margin-bottom:10px;
            }

            ul li a{
                background-color:#008067;
                color:#FFF;
                border-radius:50px;
                text-align:center;
                box-shadow: 2px 2px 3px #999;
                width:60px;
                height:60px;
                display:block;
            }

            ul:hover{
                visibility:visible!important;
                opacity:1!important;
            }


            .my-float{
                font-size:24px;
                margin-top:18px;
            }

            a#menu-share + ul{
                visibility: hidden;
            }

            a#menu-share:hover + ul{
                visibility: visible;
                animation: scale-in 0.5s;
            }

            a#menu-share i{
                animation: rotate-in 0.5s;
            }

            a#menu-share:hover > i{
                animation: rotate-out 0.5s;
            }

            @keyframes bot-to-top {
                0%   {bottom:-40px}
                50%  {bottom:40px}
            }

            @keyframes scale-in {
                from {transform: scale(0);opacity: 0;}
                to {transform: scale(1);opacity: 1;}
            }

            @keyframes rotate-in {
                from {transform: rotate(0deg);}
                to {transform: rotate(90deg);}
            }

            @keyframes rotate-out {
                from {transform: rotate(90deg);}
                to {transform: rotate(0deg);}
            }


        </style>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="header__mainicon"><img src="https://img.icons8.com/ios/50/000000/google-forms-filled.png"></div>
                <p> Welcome back, <%= user.username%> </p>
                <div class="header__logout" ><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 50px; color: white"></i></a></div>
            </header>
            <main class="main">
                <div class="form-list">
                    <p style="margin: 3% 30%;">Your Forms</p>
                    <% user.myForms.forEach(function(form){ %>
                        <div class="form-element">
                            <p> <%= form.title %></p>
                            <div class="form-buttons">
                                <a href="/form/share/<%= form._id %>"><i class="fa fa-share-alt" aria-hidden="true" style="font-size: 30px;color: white;"></i></a>                             
                                <a href="/form/delete/<%= form._id %>"><i class="fa fa-trash" aria-hidden="true" style="font-size: 30px;color: red;"></i></a>
                                <a href="/form/edit/<%= form._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 28px;color: blue;"></i></a>
                            </div>
                        </div>
                    <% }); %>
                </div>
                    <a href="/form/create/" class="float" id="menu-share"><i class="fa fa-plus-circle my-float" ></i></a>
                    <ul>
                        <li><a href="/form/explore" style="align-content: center">
                            <i class="fa fa-line-chart my-float" aria-hidden="true"></i>
                        </a></li>            
                        <li><a href="/form/custom" style="align-content: center">
                        <i class="fa fa-pencil my-float" ></i>
                        </a></li>
                    </ul>
                        
            </main>
            <footer class="footer"></footer>
        </div>

        <script>
            function openShare() {
                document.getElementById("shareForm").style.display = "block";
            }

            function closeShare() {
                document.getElementById("shareForm").style.display = "none";
            }

        </script>
    </body>
</html>