<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
        <title>Form creator</title>
        <style>
            /* Assign grid dimensions*/
            input{
                border:none;
                background:white;
                width:100%;
                margin:0;
                font-size: 1.4em;
                letter-spacing: 0.05em;
            }

            .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 1fr;
            grid-template-areas:
                "header"
                "main";
            height: 100vh;
            }

            .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            background-color: #008067;
            }

            /* Give every child element its grid name */
            .header {
            grid-area: header;
            background-color: #008067;
            }

            .main {
            grid-area: main;
            background-color: white;
            }

            body {font-family: 'Russo One', sans-serif;}
            * {box-sizing: border-box;}

            /* Button used to open the contact form - fixed at the bottom of the page */
            .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
            }

            /* The popup form - hidden by default */
            .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
            }

            .form-container {
            padding: 10px;
            background-color: white;
            }

            .form-container input[type=text] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            }

            input[type=text]:focus {
            background-color: #ddd;
            border: 2px solid #008067; 
            width: 100%;
            outline: none;
            }


            .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom:10px;
            opacity: 0.8;
            }

            .form-container .btn-cancel {
            background-color: red;
            }

            .form-container .btn:hover, .open-button:hover {
            opacity: 1;
            }

            .created-form{
                position: absolute;
                top: 15%;
                left: 30%;
                width: 45%;

                padding: 1em;
                border: 1px solid #CCC;
                background: white;
            }

            .questions {
                margin: 0 auto;
                width: 95%;
                padding: 1em;
                border: 2px solid black;
                background: #ffffff;
            }
            
            .share-popup {
                width: 280px;
                padding: 1em;
                border: 1px solid #CCC;
                border-block-color: black;
                background: white;
                margin-top: 300px;
                margin-left: 750px;

            }
            button {
                padding: 10px;
                color: #009578;
                font-weight: bold;
                background: white;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
            }

            button[type=submit]{
                padding: 10px;
                color: white;
                font-weight: bold;
                background: #009578;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
            }

            input[type=submit] {
                padding: 10px;
                color: white;
                font-weight: bold;
                background: #009578;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
            }

            button:active {
                background: #008067;
            }
            .share-top{
                height: 5%;
                background-color: #008067;
            }
            #element1 
            {
                display:inline-block;
                margin-right:10px;
                width: 50px; 
            } 
            #element2 {
                display:inline-block;
                width:200px;
            }
             
        </style>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
            </header>
            <main class="main">
                <div class="created-form">
                    <form action="/form/<%= form._id %>/submit/response" method="POST" enctype="multipart/form-data" id="form-submit">    
                        <p><%= form.title %></p><br>
                    <% form.questions.forEach(function(qns) { %>
                        <div class="questions">   
                                <p><%= qns.question %></p><br>
                        <% if( ( qns.answerType  === "checkbox") || ( qns.answerType  === "radio") ) { %>
                                <input id="element1" type="<%= qns.answerType %>" form="form-submit" name="an<%= qns.position %>" value="<%= qns.options[0] %>" style="width: 20">
                                <p id="element2"><%= qns.options[0] %></p>
                                <br>
                                <input id="element1" type="<%= qns.answerType %>" form="form-submit" name="an<%= qns.position %>" value="<%= qns.options[1] %>" style="width: 20">
                                <p id="element2"><%= qns.options[1] %></p>
                                <br>
                                <input id="element1" type="<%= qns.answerType %>" form="form-submit" name="an<%= qns.position %>" value="<%= qns.options[2] %>" style="width: 20">
                                <p id="element2"><%= qns.options[2] %></p>
                                <br>
                                <input id="element1" type="<%= qns.answerType %>" form="form-submit" name="an<%= qns.position %>" value="<%= qns.options[3] %>" style="width: 20">
                                <p id="element2"><%= qns.options[3] %></p>
                                <br>
                        <% } %>
                        <% if( ( qns.answerType  === "text")||(qns.answerType === "number")||( qns.answerType  === "date")||( qns.answerType === "time") ) { %>
                            <input type="<%= qns.answerType %>" form="form-submit" name="an<%= qns.position %>" placeholder="<%= qns.answerType %>" required/>
                        <% } %>
                        <% if( (qns.answerType  === "file")) { %>
                            <input type="<%= qns.answerType %>" form="form-submit" name="myFiles" placeholder="<%= qns.answerType %>" required/>
                        <% } %>    
                        </div>
                    <% }); %>
                        <input type="submit" form="form-submit" value="Submit response">
                    </form>
                </div>    
            </main>
            </div>
    <script>
    </script>
    </body>
</html>